@import "globals";
@import "footer";
@import "navbar";
@import "hero";

.background {
  background-color: hsl(0, 0%, 98%);
}
.body {
  max-width: 1600px;
  min-height: 100vh;
  padding-bottom: 125px;
  margin: 0 auto;
}
.divForLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 7px;
  padding-left: 44px;
  padding-right: 62px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  visibility: hidden;
}
.overlayToggle {
  visibility: visible;
}
.slideMenu {
  display: none;
}

@import "mediaQs";
