@import "globals";
@import "footer";
@import "navbar";
@import "hero";

.background {
  background-color: hsl(0, 0%, 98%);
  max-width: 1600px;
  min-height: 100vh;
  padding-bottom: 125px;
  margin: 0 auto;
}
.divForLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 7px;
  padding-left: 44px;
  padding-right: 62px;
}

@import "mediaQs";
