@media screen and (max-width: 500px) {
  .background {
    height: 800px;
    background-color: white;
  }
  .hero {
    height: auto;
    .heroCentered {
      flex-direction: column-reverse;
      width: 100vw;
      height: auto;
      padding-top: 80px;
      &__right {
        width: 100%;
        height: 320px;
        background-image: url("/images/image-hero-mobile.png");
        background-repeat: no-repeat;
      }
      &__left {
        padding: 30px 15px 80px 15px;
        h1 {
          padding-right: 0;
          font-size: 35px;
          text-align: center;
        }
        p {
          margin-top: 25px;
          padding-right: 0;
          font-size: 16px;
          text-align: center;
        }
        button {
          display: block;
          margin: 25px auto;
          padding: 15px 20px;
          font-size: 16px;
          &:hover {
            background-color: white;
          }
        }
      }
      .svgsSection {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        div {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            padding-right: 0;
            width: 75%;
          }
        }
      }
    }
  }

  //   navbar   /////////
  .navBar {
    display: none;
  }

  .navBarMobile {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    .MobileLogo {
      padding-left: 20px;
      padding-top: 25px;
    }
  }
  // slide menu////////
  .humburgerButton {
    position: absolute;
    top: 20px;
    right: 15px;
    width: 32px;
    height: 50px;
    z-index: 7;
    cursor: pointer;
    div {
      height: 2px;
      background-color: #000;
      margin: 6px 0px;
      border-radius: 24px;
      transition: 0.3s ease;
    }
    .one {
      width: 32px;
    }
    .two {
      width: 32px;
    }
    .three {
      width: 32px;
    }
  }
  .open {
    .one {
      -webkit-transform: rotate(-45deg) translate(-5px, 5px);
      transform: rotate(-45deg) translate(-5px, 5px);
    }
    .two {
      opacity: 0;
    }
    .three {
      -webkit-transform: rotate(45deg) translate(-5px, -5px);
      transform: rotate(45deg) translate(-6px, -6px);
    }
  }
  .slideMenu {
    display: block;
    position: fixed;
    height: 100%;
    right: -350px;
    width: 64%;
    z-index: 5;
    padding: 55px 25px;
    background-color: white;
    transition: all 0.18s ease-in-out;
    li {
      font-size: 16px;
      margin: 25px 0px;
      .arrowSvg {
        margin-left: 11px;
      }
    }
    .featuresDDmob {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      margin-left: 18px;

      li {
        display: flex;
        align-items: center;
        margin: 23px 0px;
        &:nth-child(1) {
          margin-top: 30px;
        }

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 20px;
          img {
            height: 20px;
            margin-right: 10px;
          }
        }
      }

      //////
    }
    .companyDDmob {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      margin-left: 25px;
      li:nth-child(1) {
        margin-top: 27px;
      }
      li:nth-child(3) {
        margin-bottom: 8px;
      }
    }
    .visible {
      max-height: 185px;
    }
    .open {
      transform: rotate(180deg);
    }
    .navLinks__bottom {
      margin-top: 35px;
      text-align: center;
      a {
        font-size: 14px;
      }
      font-size: 12px;

      .navLinks__Register {
        width: 100%;
        padding: 10px 20px;
        margin-top: -7px;
        outline: 2px solid hsl(0, 0%, 55%);
        border-radius: 12px;
        cursor: pointer;
        &:hover {
          outline: 2px solid black;
        }
      }
    }
  }
  .slideMenuOpen {
    right: 0;
  }
}
